@font-face {
  font-family: roboto_bold;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

body {
  background-color: #242742;
  width: 100%;
  height: 100%;
  font-family: roboto_bold;
  font-weight: 400;
  color: #36384e;
}

body * {
  color: #36384D;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  flex-direction: column;
}

.signUpForm {
  background-color: white;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  padding-top: 25px;
  padding-bottom: 25px;
}

.column1 > h1 {
  font-family: roboto_bold;
  font-weight: 700;
  color: #242742;
  margin-bottom: 20px;
  font-size: 50px;
}

.column1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 65px;
  margin-top: 100px;
  width: 85%;
}

.column1 > p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #242742;
  width: 95%;
}

.icon_list {
  width: 17px;
  height: 17px;
  margin-bottom: 0;
}

.grid_right {
  text-align: right;
  padding-right: 20px;
}

.column1 > ul {
  list-style: none;
}

.column1 > ul > li {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.form * {
  margin-bottom: 20px;
}

.form {
  margin-top: 20px;
}

.column1 li > p {
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  color: #242742;
}

.email, .subscribe {
  padding: 20px;
  width: -webkit-fill-available;
}

.email {
  border-radius: 5px;
  border-color: 1px #9294a0;
  outline: none;
}

.email:hover {
  cursor: pointer;
}

.email_label {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.subscribe {
  background-color: #36384e;
  font-size: 16px;
  font-family: roboto_bold;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.subscribe:hover {
  background: linear-gradient(to right, #ff6257, #ff6257);
  /* Gradient color on hover */
  cursor: pointer;
}

.error {
  font-size: 16px;
  font-weight: 700;
  color: #ff6257;
  display: none;
  text-align: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.labels {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.error_sub {
  border: 1px solid #ff6257;
  color: #ff6257;
}

.successContainer {
  background-color: white;
  border-radius: 1.5rem;
  width: 35%;
  padding: 50px;
}

.successContainer > h1 {
  font-size: 60px;
  font-family: roboto_bold;
  font-weight: 700;
  color: #242742;
  line-height: 60px;
  margin-bottom: 20px;
}

.successContainer > p > span {
  margin-bottom: 10px;
  font-weight: 700;
  color: #242742;
}

.successContainer > img {
  margin-bottom: 20px;
}

.successContainer > p {
  margin-bottom: 10px;
  width: 85%;
  color: #242742;
  font-weight: 400;
}

.successContainer > button {
  padding: 20px;
  margin-top: 20px;
  background-color: #242742;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: 400;
  width: 100%;
}

.dismiss:hover {
  background: linear-gradient(to right, #ff6257, #ff6257);
  /* Gradient color on hover */
  cursor: pointer;
}

.mobile_view {
  display: none;
}

@media screen and (max-width: 375px) {
  .mobile_view {
    display: block;
  }

  .desktop_view {
    display: none;
  }

  .signUpForm {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
    border-radius: 0;
  }

  .main {
    margin-top: 0;
  }

  .grid_right {
    padding: 0;
    margin: 0;
  }

  .column1 {
    margin: 30px;
    padding: 0;
  }

  .column1 > h1 {
    font-size: 40px;
  }

  .grid_left {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  button.dismiss {
    margin-top: 180px;
  }

  .successContainer {
    width: 100%;
    border-radius: 0;
    height: 100%;
    padding: 180px 20px 20px;
  }

  .successContainer > h1 {
    width: 100%;
    font-size: 40px;
    line-height: 40px;
  }

  .successContainer > p {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
